/* grid md:grid-cols-2 lg:grid-cols-3 gap-8 py-16 */
.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}
/* bg-gray-500 p-6 rounded-lg shadow-md */
.category-card {
    background-color: #ffffff;
    color: #000000;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.category-section {
    background-color: #6b7280;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
/* bg-green-900 p-6 rounded-lg shadow-md */
.planning-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #14532d; /* green-900 */
    padding: 1.5rem; /* p-6 */
    margin: 0.5rem; /* optional spacing between cards */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06); /* shadow-md */
}

.planning-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
}

.url-input {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
}
